body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, hotpink, yellow, salmon);
}

#calculator {
    font-family: arial, sans-serif;
    background-color: gray;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    height: 105%;

}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(34, 34, 141);
    color: tomato;

}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: goldenrod;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: black;
}

.operator-btn:hover {
    background-color: black;
}

.operator-btn:active {
    background-color: black;
}